body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

p {
    max-width: 500px;
}

#source-raw-link {
    font-size: 0.8em;
}